/* layout container */
.container {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  width: 100vw;
  height: 100vh;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* each container */
.navbar {
  background-color: green;
}
.footer {
  background-color: green;
}
.sidebar {
}
.content {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* navigation bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  list-style: none;
  gap: 4rem;
  margin-right: 10px;
}

.app-title {
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar */
.sidebar-menu-container li {
  color: white;
  list-style: none;
  width: 100%;
  height: 4rem;
  text-align: end;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgb(107, 90, 201);
  background: linear-gradient(
    90deg,
    rgba(107, 90, 201, 1) 0%,
    rgba(114, 60, 141, 1) 46%,
    rgba(137, 0, 239, 1) 100%
  );
}
.sidebar-menu-container :hover {
  box-shadow: 10px;
  cursor: pointer;
  border-radius: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}
.sidebar-menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  padding: 0;
}

/* content */
.table {
  width: 100%;
}

.table th {
  padding: 10px;
  text-align: start;
}

.heading {
  background-color: green;
}

/* form */
.form {
  width: 70%;
  height: 80%;
  margin-inline: auto;
  background-color: white;

  display: block;
  position: relative;
  justify-content: start;
  align-items: center;

  flex-direction: column;
}
.form input {
  font-size: 20px;

  width: 80%;
  padding-block: 10px;
  margin-block: 2px;
}

.form textarea {
  font-size: 20px;

  width: 80%;
  height: 20%;
}
button {
  padding-inline: 12px;
  padding-block: 4px;
  display: block;
}

.form-content {
  padding-top: 10%;
  display: block;
  width: 80%;
  margin-inline: auto;
}

/* modal */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0, 0.4); /* Black w/ opacity */
}

.close {
  position: absolute;
  right: 8px;
  font-size: 30px;
  color: gray;
}
